.button {
  font-weight: 500;
  color: #000;
  background-color: #f4ce14;
  padding: 18px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ee9972;
  color: #fff;
}

.button:disabled,
.button:hover:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #000;
}
