.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.logo {
  margin-right: 238px;
}

.container {
  margin-right: 183px;
  margin-left: 183px;
}
