.list {
  display: flex;
  list-style-type: none;
}

.item:not(:last-child) {
  margin-right: 28px;
}

.item {
  font-size: 20px;
}

.item > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
