.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}

.testimonial {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
}

.rating {
  font-weight: bold;
}

.name {
  margin-top: 5px;
  font-style: italic;
}

.review {
  margin-top: 10px;
}

.title {
  color: #000;
  font-size: 64px;
  font-weight: 500;
  font-family: "Markazi Text", sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.section {
  background-color: #d9d9d9;
}

.container {
  padding: 125px 290px 150px;
}
